"""
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Reset Password | MarksFidel</title>
  </head>
  <body
    style="
      padding: 6px;
      border-radius: 4px;
      max-width: 960px;
      margin: 0 auto;
      background-color: rgb(4, 2, 41);
      width: 100%;
      color: white;
    "
  >
    <p>To reset your password, click the button</p>
    <button
      style="
        padding: 8px 10px;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgb(70, 70, 146);
        outline: none;
        border: 0;
      "
    >
      <a
        href="{reset_url}"
        style="text-decoration: none; color: white; font-size: 18px"
        >Reset Password</a
      >
    </button>
    <p>
      If you're unable to click the button, you can copy the link and paste in
      your browser
    </p>
    <p>{reset_url}</p>
  </body>
</html>
